
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.container {
    width: 1000px;
    margin: 0 calc(50% - 500px);
    display: flex;
    justify-content: space-around;

}

.column {
    text-align: center;
    margin: 50px 20px;
    width: 20%;
}

.img {
    height: 220px;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 30px;
}

.img-1 {
    background-color: #70C0C9;
}

.img-2 {
    background-color: #4074BD;
}

.img-3 {
    background-color: #E05E46;
}

.img-4 {
    background-color: #919191;
}

.column-name {
    text-transform: uppercase;
    color: #E26150;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

.column-name:hover {
    color: #919191;
    transition: all 0.3s;
}