
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.container {
    width: 1000px;
    margin: 0 calc(50% - 500px);
    display: flex;
    justify-content: space-around;
}

.column {
    text-align: center;
    margin: 50px 20px;
    width: 20%;
}

.img-div {
    height: 220px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-div::after {
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    content: 'X';
    padding: 5px;
    border: 4px solid;
    background-color: #fff;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    top: -8px;
    left: -8px;
}

.img-1 {
    background-color: #70C0C9;
}

.img-2 {
    background-color: #4074BD;
}

.img-3 {
    background-color: #E05E46;
}

.img-4 {
    background-color: #919191;
}

.img {
    filter:invert(1);
    height: 180px;
    width: 80%;
}

.column-name {
    text-transform: uppercase;
    color: #E26150;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}

.column-name:hover {
    color: #919191;
    transition: all 0.3s;
}